* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.navbar {
  height: 65px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo_img {
  width: 100px;
  margin: 5px 0px 0px 20px;
}

.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
}
.location {
  margin: 10px;
  display: flex;
}
.nav_address {
  margin-left: 10px;
}
.add_first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 13px;
  margin-top: 2px;
}
.add_second {
  font-size: 1rem;
  margin-left: 5px;
}
.add_icon {
  display: flex;
  align-items: center;
}
.nav_search {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  height: 40px;
  border-radius: 4px;
}
.search_select {
  background-color: #f3f3f3;
  width: 60px;
  text-align: center;
  border-radius: 5px 0px 0px 5px;
  border: none;
}
.search_input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search_icon {
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #eb8603;
  border-radius: 0px 4px 4px 0px;
}
.nav_search:hover {
  border: 2px solid orange;
}

span {
  font-size: 0.7rem;
}

.nav_second {
  font-size: 0.85rem;
  font-weight: 700;
}

/* panel  */
.panel {
  height: 45px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel_ops p {
  margin-left: 15px;
}

.panel_ops {
  display: flex;
  justify-content: start;
  width: 80%;
  font-size: 0.85rem;
  min-width: 500px;
}
.panel_deals {
  font-size: 0.9rem;
  font-weight: 700;
}

/* hero image */
.hero_section {
  background-image: url("hero_image.jpg");
  background-size: cover;
  height: 350px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.hero_msg {
  background-color: white;
  color: black;
  height: 40px;
  width: 100%;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.shop_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px 0px;
  margin-top: 20px;
}

.box_img {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
}

.box_content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box_content p {
  color: #007185;
  margin: 0.4rem;
}

.footer {
  margin-top: 15px;
}
.foot_pannel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}
.foot_pannel2 {
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  font-weight: 700;
  justify-content: space-around;
}

ul {
  margin: 20px;
}

ul a {
  display: block;
  font-size: 0.8rem;
  margin-top: 10px;
  color: #dddddd;
}
.foot_pannel3 {
  background-color: #222f3d;
  color: white;
  border-top: 1px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}
.foot_pannel4 {
  background-color: #0f1111;
  color: white;
  height: 80px;
  font-size: 0.7rem;
  text-align: center;
}

.pages {
  padding-top: 25px;
}

.copyright {
  padding-top: 5px;
}
