* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.navbar {
  height: 65px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo_img {
  width: 100px;
  margin: 5px 0px 0px 20px;
}

.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
}
.location {
  margin: 10px;
  display: flex;
}
.nav_address {
  margin-left: 10px;
}
.add_first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 13px;
  margin-top: 2px;
}
.add_second {
  font-size: 1rem;
  margin-left: 5px;
}
.add_icon {
  display: flex;
  align-items: center;
}
.nav_search {
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  height: 40px;
  border-radius: 4px;
}
.search_select {
  background-color: #f3f3f3;
  width: 60px;
  text-align: center;
  border-radius: 5px 0px 0px 5px;
  border: none;
}
.search_input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search_icon {
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #eb8603;
  border-radius: 0px 4px 4px 0px;
}
.nav_search:hover {
  border: 2px solid orange;
}

span {
  font-size: 0.7rem;
}

.nav_second {
  font-size: 0.85rem;
  font-weight: 700;
}

/* panel  */
.panel {
  height: 45px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel_ops p {
  margin-left: 15px;
}

.panel_ops {
  display: flex;
  justify-content: start;
  width: 80%;
  font-size: 0.85rem;
  min-width: 500px;
}
.panel_deals {
  font-size: 0.9rem;
  font-weight: 700;
}

/* hero image */
.hero_image {
  width: 100%;
  height: 600px;
}
